@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --background-color: #1a1a1a;
  --text-color: #eee;
  --border-radius: 30px;
}

.card::before {
  background-color: transparent;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 70px;
  border-bottom-left-radius: var(--border-radius);
  box-shadow: -30px 30px 0 var(--background-color);
}

.card::after {
  background-color: var(--background-color);
  /* content: "andry"; */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: calc(40% - 10px);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: medium;
}

@container style(--isT-shirts:true) {
  .card::after {
    content: url("/tshirt.png");
  }

  .card .more {
    box-shadow: 0 7px 0 chocolate;
  }
}

@container style(--isJeans:true) {
  .card::after {
    content: url("/jeans.png");
  }

  .card .more {
    box-shadow: 0 7px 0 cadetblue;
  }
}

@container style(--isShoes:true) {
  .card::after {
    content: url("/shoes.png");
  }

  .card .more {
    box-shadow: 0 7px 0 burlywood;
  }
}

@container style(--isGlasses:true) {
  .card::after {
    content: url("/sunglasses.png");
  }

  .card .more {
    box-shadow: 0 7px 0 darkolivegreen;
  }
}

@container style(--isJackets:true) {
  .card::after {
    content: url("/jacket.png");
  }

  .card .more {
    box-shadow: 0 7px 0 hotpink;
  }
}

@container style(--isSuits:true) {
  .card::after {
    content: url("/suit.png");
  }

  .card .more {
    box-shadow: 0 7px 0 indianred;
  }
}

@container style(--isBags:true) {
  .card::after {
    content: url("/bags.png");
  }

  .card .more {
    box-shadow: 0 7px 0 khaki;
  }
}

/* Hilangkan spinner untuk Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hilangkan spinner untuk Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Tabel Scroll */
.tableContainer {
  --sb-track-color: #232e33;
  --sb-thumb-color: #14c688;
  --sb-size: 5px;
}

.tableContainer::-webkit-scrollbar {
  width: var(--sb-size);
}

.tableContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .tableContainer {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* Tabel Scroll */
